.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: #fff;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  opacity: 0.9;
}

.route-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.route-link:hover {
  border-bottom: 2px solid #fca311;
  /* border-bottom: 2px solid #fbbd0d; */
}
.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

.logo-color {
  color: #fca311;
}

/* .dropdown {
  position: relative;
} */

.dropdown-content {
  display: none;
  position: absolute;
  right: 2;
  margin: 10px 10px 0 0;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  margin: 10px;
}

.dropdown-link {
  text-decoration: none;
  color: #333;
}

.dropdown-link:hover {
  color: #fca311;
}
